*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff7f6c;
  --color-secondary: #3c3d5c;
  --color-heading: #3c3d5c;
  --color-text: #717171;
  --color-white: #fff;
  --color-dark-white: #fff9f9;
}

html {
  font-size: 62.5%;
}

/* typography */
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-heading);
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  margin-top: -0;
}

h2 {
  font-size: 2.9rem;
  font-weight: 700;
}

h3 {
  font-size: 2.1rem;
  margin: 2rem 0 1rem;
  font-weight: 700;
}

h4 {
  font-size: 1.9rem;
}

/* button */
.btn {
  padding: 1.7rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-primary {
  border: none;
  background: var(--color-white);
  color: #fd7661;
}

.btn-primary:hover {
  background: #ff4a4a;
  color: var(--color-white);
}

.btn-secondary {
  background: none;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

.btn-secondary:hover {
  background: var(--color-white);
  color: #fd7661;
}

.btn-accent {
  background: linear-gradient(
    90deg,
    rgba(255, 155, 111, 1) 0%,
    rgba(255, 74, 89, 0.9) 100%
  );
  color: var(--color-white);
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(5rem, auto);
}

@media screen and (min-width: 768px) {
  .grid-1x2 {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10rem, auto);
  }

  .grid-1x4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10rem, auto);
  }
}

/* block-image-transparency */

.block-transparency .grid {
  background: linear-gradient(
    0deg,
    rgba(31, 31, 53, 1) 0%,
    rgb(36, 36, 90) 100%
  );
  height: 430px;
  overflow: visible;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mobile-block {
    margin-top: 0;
  }
  .block-transparency .grid {
    background: linear-gradient(
      0deg,
      rgba(31, 31, 53, 1) 0%,
      rgb(36, 36, 90) 100%
    );
    height: 250px;
    overflow: visible;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 100%;
  }
}

/* hero  */

.hero {
  min-height: 500px;
  overflow: hidden;
  border-bottom-left-radius: 100px;
}

.hero-image {
  background: url(../images/bg-pattern-intro-mobile.svg) no-repeat;
  background-position: center;
  background-size: 200rem;
  text-align: center;
}

.hero-transparency {
  background: linear-gradient(
    90deg,
    rgba(255, 155, 111, 1) 0%,
    rgba(255, 74, 89, 0.9) 100%
  );
  height: 500px;
}

.hero-content {
  padding: 12rem 2rem 0;
  max-width: 450px;
  margin: 0 auto;
}
.hero-heading,
.hero-description {
  color: white;
  letter-spacing: 0.4px;
}

.hero-btn .btn {
  margin: 2rem 0.8rem 0;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 450px;
  }
  .hero-image {
    background: url(../images/bg-pattern-intro-desktop.svg) no-repeat;
    background-position: center;
    background-size: 200rem;
    text-align: center;
  }

  .hero-content {
    padding: 15rem 2rem;
    max-width: 805px;
    margin: 0 auto;
  }

  .hero-transparency {
    background: linear-gradient(
      90deg,
      rgba(255, 155, 111, 1) 0%,
      rgba(255, 74, 89, 0.9) 100%
    );
    height: 550px;
  }

  .hero-heading {
    font-size: 4.5rem;
    letter-spacing: 1px;
  }
}

/* nav */
.nav {
  display: flex;
  padding: 2rem 1rem;
}

.nav-mobile {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 3rem 2rem 2rem;
}

.hamburger {
  height: 20px;
  width: 30px;
  align-self: center;
}

.logo {
  width: 80px;
}

.nav-mobile img {
  border: none;
}

.menu-mobile {
  width: 100%;
  text-align: center;
  background: white;
  margin: 0 auto;
  display: none;
}

.list {
  padding-left: 0;
}

.list-darker {
  width: 80%;
  margin: 1rem auto 0;

  background: rgb(230, 230, 230);
  padding: 1px 0;
}

.list li,
.list-darker li {
  list-style-type: none;
  margin: 2rem;
}

.list a,
.list-darker a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
}

.list a:hover,
.list-darker a:hover {
  color: rgb(180, 180, 180);
}

.menu .btn {
  margin: 3rem 3rem;
}

.btn-primary-color {
  color: #3c3d5c;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 75px;
    height: 30px;
    align-self: center;
  }
  .nav-desktop {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem 6rem 2rem 6rem;
  }

  .hamburger {
    display: none;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-between;
  }

  .nav-button .btn {
    margin: 0 4rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  .nav-button .btn-primary-color {
    color: white;
    background: none;
  }

  .nav-button .btn-accent {
    background: var(--color-white);
    color: #ff4a4a;
    transition: all 0.2s;
  }

  .nav-button .btn-accent:hover {
    transform: scale(1.15);
    background: #ff4a4a;
    color: var(--color-white);
  }

  .menu .btn {
    margin: 0;
    padding: 1.5rem 3rem;
  }

  .list-darker {
    width: 80%;
    margin: 1rem auto 0;
    display: none;
    background: rgb(230, 230, 230);
    padding: 1px 0;
  }

  .list li {
    display: inline;
  }

  .list a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    transition: color 0.2s;
  }

  .list a:hover {
    transform: scale(1.1);
    color: rgb(180, 180, 180);
  }

  .menu-mobile {
    width: 100%;
    text-align: center;
    background: none;
    margin: 0 auto;
  }
}

/* features */

.features {
  text-align: center;
  padding: 0 3rem;
}

@media screen and (min-width: 768px) {
  .features {
    text-align: left;
    padding: 0 3rem;
  }
}

/* features block */

.features-block {
  margin-top: 10rem;
  text-align: center;
}

.illustrator .desktop {
  display: none;
}

.illustrator {
}

.illustrator .mobile {
  border: 1px solid green;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-block {
    min-height: 600px;
  }
  .features-block .grid-1x2 {
    grid-template-areas: "aside aside1";
  }

  .illustrator {
    grid-area: aside1;
    justify-self: right;
    overflow: hidden;
  }

  .illustrator .mobile {
    display: none;
  }

  .illustrator .desktop {
    border: 1px solid green;
    display: block;
    width: 100%;
    position: relative;
    left: 100px;
  }

  .features {
    align-self: center;
    padding-left: 20%;
  }

  .features h3 {
    margin-top: 3rem;
  }
}

/* mobile */

.mobile {
  text-align: center;
  padding: 0 3rem;
}

.mobile-image {
  text-align: center;
}

.mobile-image img {
  width: 300px;
  margin-top: -150px;
}

.mobile-block {
  margin-top: 200px;
}

.grid > section {
  border: none;
}

.mobile-heading {
  font-size: 3.3rem;
  color: var(--color-white);
}

.mobile-content {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .mobile-block {
    margin-top: 50px;
  }
  .mobile {
    text-align: left;
    padding: 0 3rem;
    align-self: center;
  }
  .mobile-image img {
    width: 350px;
    margin-top: -50px;
  }
}

/* laptop */

.laptop {
  margin-top: 2rem;
  text-align: center;
}

.laptop-image {
  background: url(../images/illustration-laptop-mobile.svg) no-repeat;
  min-height: 350px;
  margin-top: 2rem;
  background-position: center;
  background-size: cover;
}

.grid > section {
}

@media screen and (min-width: 768px) {
  .laptop {
    margin-top: 10rem;
    text-align: left;
    min-height: 550px;
  }

  .laptop .grid-1x2 {
    grid-template-areas: "aside aside1";
  }

  .laptop-image {
    margin-top: 0;
    background: url(../images/illustration-laptop-desktop.svg) no-repeat;
    background-position: -150px center;
    background-size: 550px;
    height: 500px;
    grid-area: aside;
  }

  .laptop-features {
    align-self: center;
    padding-right: 25%;
  }

  .laptop-features h3 {
    margin-top: 3rem;
  }
}

/* footer */

.footer-grid {
  background: #12121b;
  text-align: center;
  color: white;
  padding: 3rem;
  border-top-right-radius: 80px;
}

.footer-content {
  font-weight: 500;
  cursor: auto;
}

.footer-list {
  padding-left: 0;
}
.footer-list li {
  list-style-type: none;
  margin: 0.5rem;
}

.footer-list a {
  text-decoration: none;
  color: rgb(190, 190, 190);
  font-size: 0.9rem;
  font-weight: 400;
  transition: all 0.2s;
}

.footer-list a:hover {
  color: white;
  transform: rotate(45deg);
}
