<footer class="footer-grid grid grid-1x4">
  <section class="footer-logo">
    <img class="f-logo" src="./images/logo.svg" alt="" />
  </section>

  <section class="product">
    <p footer-content>Product</p>
    <ul class="footer-list">
      <li><a href=""> Overview</a></li>
      <li><a href=""> Pricing</a></li>
      <li><a href=""> Marketplace</a></li>
      <li><a href=""> Features</a></li>
      <li><a href="">Integrations</a></li>
    </ul>
  </section>

  <section class="company">
    <p footer-content>Company</p>
    <ul class="footer-list">
      <li><a href=""> About</a></li>
      <li><a href=""> Team</a></li>
      <li><a href=""> Blog</a></li>
      <li><a href=""> Careers</a></li>
    </ul>
  </section>

  <section class="connect">
    <p footer-content>Connect</p>
    <ul class="footer-list">
      <li><a href=""> Contact</a></li>
      <li><a href=""> Newsletter</a></li>
      <li><a href="">LinkedIn</a></li>
    </ul>
  </section>
</footer>
